In [5]:
#1
d={
    'apple': 11,
    'banana':15
}
if d:
    print(d['apple'])
else:
    print("empty")

11

In [6]:
#2
if 'apple' in d:
    print(d['apple'])
else:
    print("don't exist")

11

In [11]:
#3
len(d)

2

In [12]:
#4
list(d.keys())

['apple', 'banana']

In [13]:
#5
list(d.values())

[11, 15]

In [16]:
#6
d1={
    'apple': 11,
    'banana': 15
}
d2={
    'orange': 50,
    'melon': 55
}
d1.update(d2)
d1

{'apple': 11, 'banana': 15, 'orange': 50, 'melon': 55}

In [22]:
#7
d3={
    'apple': 11,
    'banana': 15
}
if 'apple' in d3:
    d3.pop('apple')
    print(d3)
else:
    print("not exist")

{'banana': 15}

In [23]:
#8
d4={
    'apple': 11,
    'banana': 15
}
d4.clear()
d4

{}

In [27]:
#9
d5={
    'apple': 11,
    'banana': 15
}
if d5:
    print(d5)
else:
    print("empty")

{'apple': 11, 'banana': 15}

In [144]:
#10
d6={
    'apple': 11,
    'banana': 15
}
a='apple'
b=d6.get(a)
if a in d6:
    print(a,b)
else:
    print("not found")

apple 11

In [49]:
#11
d7={
    'apple': 11,
    'banana': 15
}
key7='apple'
d7.update({key7:17})
d7

{'apple': 17, 'banana': 15}

In [42]:
#12
d8={
    'apple': 11,
    'banana': 11,
    'orange': 12
}
list(d8.values()).count(d8['banana'])

2

In [67]:
#13
d9={
    'apple': 11,
    'banana': 12,
    'orange': 13
}
c9={}
for (x,y) in d9.items():
    c9[y]=x
c9

{11: 'apple', 12: 'banana', 13: 'orange'}

In [74]:
#14
d10={
    'apple': 11,
    'banana': 11,
    'orange': 13
}
for i in d10.keys():
    if d10[i]==11:
        print(i)

apple
banana

In [81]:
#15
a11=['apple','orange']
b11=[12,34]
c11=list(range(len(a11)))
d11={}
for i in c11:
    d11[a11[i]]=b11[i]
d11

{'apple': 12, 'orange': 34}

In [103]:
#16
d12={
    'apple': 12,
    'banana': 11,
    'orange': 13
}
for i in d12.values():
    if type(i)==dict:
        print("exist",i)
    else:
        print(f"{i} is not dictionary")

12 is not dictionary
11 is not dictionary
13 is not dictionary

In [107]:
#17
d13={
    'apple': {12:11},
    'banana': {11:13},
    'orange': 13
}
for i in d13.values():
    if type(i) == dict:
        print(i)

{12: 11}
{11: 13}

In [125]:
#18
from collections import defaultdict
d14=defaultdict(bool)
d14['a']=12
d14['b']=13
d14['c']

False