In [1]:
#1
a=('g','ta',5,56,8,9,2,1,3,3,3,3)
b=3
a.count(b)

4

In [19]:
#2
a1=(1,4,3,765,9876,432,432,32)
b1=('gfds','gfds','iuytr','oiuy')
print("max a1=",max(a1), "max b1=",max(b1))

max a1= 9876 max b1= oiuy

In [20]:
#3
print("min a1=",min(a1), "min b1=",min(b1))

min a1= 1 min b1= gfds

In [21]:
#4
a=('g','ta',5,56,8,9,2,1,3,3,3,3)
b=3
b in a

True

In [32]:
#5
a2=('g','ta',5,56,8,9,2,1,3,3,3,3)
if a2:
    print(a2[0])
else:
    print("empty")

g

In [34]:
#6
a2=('g','ta',5,56,8,9,2,1,3,3,3,3,8)
if a2:
    print(a2[-1])
else:
    print("empty")

8

In [35]:
#7
len(a2)

13

In [38]:
#8
a2=('g','ta',5,56,8,9,2,1,3,3,3,3,8)
b2=a2[:3]
b2

('g', 'ta', 5)

In [40]:
#9
a3=('g','ta',5,56,8,9,2,1,3,3,3,3,8)
b3=(1,4,3,765,9876,432,432,32)
c=a3+b3
c

('g', 'ta', 5, 56, 8, 9, 2, 1, 3, 3, 3, 3, 8, 1, 4, 3, 765, 9876, 432, 432, 32)

In [47]:
#10
a4=()
bool(a4)

False

In [54]:
#11
a=('g','ta',5,56,8,9,2,1,3,3,3,3)
b=5
a.index(b)

2

In [62]:
#12
a5=(1,4,3,765,9876,432,432,32)
b5=list(a5)
b5.remove(max(b5))
max(b5)

765

In [63]:
#13
c5=list(a5)
c5.remove(min(c5))
min(c5)

3

In [65]:
#14
a6=('sdfghj',)
type(a6)

tuple

In [72]:
#15
a7=[1,4,3,765,9876,432,432,32]
b7=tuple(a7)
b7

(1, 4, 3, 765, 9876, 432, 432, 32)

In [79]:
#16
a8=(1,4,3,765,9876,432,432,32)
b8=list(a8)
b8.sort()
c8=tuple(b8)
print(a8)
print(c8)
a8==c8

(1, 4, 3, 765, 9876, 432, 432, 32)
(1, 3, 4, 32, 432, 432, 765, 9876)

False

In [85]:
#17
a9=(1,4,3,765,9876,432,432,32)
b9=a9[2:4]
max(b9)

765

In [ ]:
#18
b9=a9[3:7]
min(b9)

432

In [89]:
#19
a10=(1,4,3,765,9876,432,432,32)
b10=432
c10=list(a10)
c10.remove(b10)
d10=tuple(c10)
d10

(1, 4, 3, 765, 9876, 432, 32)

In [ ]:
#20
a10=(1,4,3,765,9876,432,432,32)
a11=a10[1:6]
b11=a10[2:]
c11=a10[:5]
d11=(a11,b11,c11)
d11

((4, 3, 765, 9876, 432), (3, 765, 9876, 432, 432, 32), (1, 4, 3, 765, 9876))

In [94]:
#21
a10=(1,4,3,765,9876,432,432,32)
b12=2
a10*b12

(1, 4, 3, 765, 9876, 432, 432, 32, 1, 4, 3, 765, 9876, 432, 432, 32)

In [101]:
#22
a13=tuple(range(1,11))
a13

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [103]:
#23
a10=(1,4,3,765,9876,432,432,32)
a14=list(a10)
a14.reverse()
b14=tuple(a14)
print(a10)
print(b14)

(1, 4, 3, 765, 9876, 432, 432, 32)
(32, 432, 432, 9876, 765, 3, 4, 1)

In [104]:
#24
a10=(1,4,3,765,9876,432,432,32)
a15=list(a10)
a15.reverse()
b15=tuple(a15)
b15 == a10

False

In [105]:
#25
a16=(54,32,656,32,54,31,87,90,54,656,31)
b16=list(a16)
c16=sorted(set(b16), key=b16.index)
d16=tuple(c16)
d16

(54, 32, 656, 31, 87, 90)